@media screen and (min-width: 1920px) {
  .container {
    position: relative;
    width: 320px;
    height: 400px;
    margin:auto;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Berlin sans FB', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -25px;
    left: -25px;
    cursor: pointer;

}
.menu .menu-top{
  position: absolute;
  width: 60px;
  height: 10px;
  background: #ffffff; /* #ffd324*/
  border-radius: 20px;
  transition: .7s;
}
.menu .top-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: -19px;
  left: -40px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu .menu-bottom{
  position: absolute;
  width: 60px;
  height: 10px;
  top: initial;
  border-radius: 20px;
  bottom: 0;
  background: #ffffff; /* #ffd324*/
  transition: .7s;
}
.menu .bottom-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 40px;
  right: -49px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -45px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 2s ease both; /* normade 3s*/
          animation: line-top-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 2s ease both; /* normade 3s*/
          animation: line-bottom-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in 1s;
}


@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
}

@media screen and (min-width: 1366px) and (max-width: 1919px) {
  .container {
    position: relative;
    width: 320px;
    height: 400px;
    margin:auto;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Berlin sans FB', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -25px;
    left: -25px;
    cursor: pointer;

}
.menu .menu-top{
    position: absolute;
    width: 60px;
    height: 10px;
    background: #ffffff; /* #ffd324*/
    border-radius: 20px;
    transition: .7s;
}
.menu .top-line{
    position: absolute;
    width: 0;
    height: 3px;
    top: -19px;
    left: -40px;
    border-radius: 25px;
    background: #ffffff;
    transition: all 1s ease-out;
}
.menu .menu-bottom{
    position: absolute;
    width: 60px;
    height: 10px;
    top: initial;
    border-radius: 20px;
    bottom: 0;
    background: #ffffff; /* #ffd324*/
    transition: .7s;
}
.menu .bottom-line{
    position: absolute;
    width: 0;
    height: 3px;
    top: 40px;
    right: -49px;
    border-radius: 25px;
    background: #ffffff;
    transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -45px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 2s ease both; /* normade 3s*/
          animation: line-top-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 2s ease both; /* normade 3s*/
          animation: line-bottom-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in 1s;
}


@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
}

@media screen and (min-width: 960px) and (max-width: 1365px) {
  .container {
    position: relative;
    width: 320px;
    height: 400px;
    margin:auto;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Berlin sans FB', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -25px;
    left: -25px;
    cursor: pointer;

}
.menu .menu-top{
  position: absolute;
  width: 60px;
  height: 10px;
  background: #ffffff; /* #ffd324*/
  border-radius: 20px;
  transition: .7s;
}
.menu .top-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: -19px;
  left: -40px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu .menu-bottom{
  position: absolute;
  width: 60px;
  height: 10px;
  top: initial;
  border-radius: 20px;
  bottom: 0;
  background: #ffffff; /* #ffd324*/
  transition: .7s;
}
.menu .bottom-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 40px;
  right: -49px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -45px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 2s ease both; /* normade 3s*/
          animation: line-top-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 2s ease both; /* normade 3s*/
          animation: line-bottom-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in 1s;
}


@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
}

@media screen and (min-width: 720px) and (max-width: 959px) {
  .container {
    position: relative;
    width: 320px;
    height: 400px;
    margin:auto;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Berlin sans FB', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -25px;
    left: -25px;
    cursor: pointer;

}
.menu .menu-top{
  position: absolute;
  width: 60px;
  height: 10px;
  background: #ffffff; /* #ffd324*/
  border-radius: 20px;
  transition: .7s;
}
.menu .top-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: -19px;
  left: -40px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu .menu-bottom{
  position: absolute;
  width: 60px;
  height: 10px;
  top: initial;
  border-radius: 20px;
  bottom: 0;
  background: #ffffff; /* #ffd324*/
  transition: .7s;
}
.menu .bottom-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 40px;
  right: -49px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -45px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 2s ease both; /* normade 3s*/
          animation: line-top-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 2s ease both; /* normade 3s*/
          animation: line-bottom-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in 1s;
}


@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
}

@media screen and (min-width: 480px) and (max-width: 719px) {
  .container {
    position: relative;
    width: 320px;
    height: 400px;
    margin:auto;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Berlin sans FB', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    top: -25px;
    left: -25px;
    cursor: pointer;

}
.menu .menu-top{
  position: absolute;
  width: 60px;
  height: 10px;
  background: #ffffff; /* #ffd324*/
  border-radius: 20px;
  transition: .7s;
}
.menu .top-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: -19px;
  left: -40px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu .menu-bottom{
  position: absolute;
  width: 60px;
  height: 10px;
  top: initial;
  border-radius: 20px;
  bottom: 0;
  background: #ffffff; /* #ffd324*/
  transition: .7s;
}
.menu .bottom-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 40px;
  right: -49px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -45px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 2s ease both; /* normade 3s*/
          animation: line-top-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 2s ease both; /* normade 3s*/
          animation: line-bottom-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in 1s;
}


@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  .container {
    position: relative;
    width: 320px;
    height: 350px;
    bottom: -140px;
    margin:auto;
    background: none;
    overflow: hidden;
    color: #ccc;
    font-family: 'Berlin sans FB', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.menu{
    position: absolute;
    width: 50px;
    height: 25px;
    
    left: -25px;
    cursor: pointer;

}
.menu .menu-top{
  position: absolute;
  width: 60px;
  height: 10px;
  background: #ffffff; /* #ffd324*/
  border-radius: 20px;
  transition: .7s;
}
.menu .top-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: -19px;
  left: -40px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu .menu-bottom{
  position: absolute;
  width: 60px;
  height: 10px;
  top: initial;
  border-radius: 20px;
  bottom: 0;
  background: #ffffff; /* #ffd324*/
  transition: .7s;
}
.menu .bottom-line{
  position: absolute;
  width: 0;
  height: 3px;
  top: 40px;
  right: -49px;
  border-radius: 25px;
  background: #ffffff;
  transition: all 1s ease-out;
}
.menu-items {
    position: absolute;
    width: 300px;
    height: 20px;
    top: -8px;
    left: -185px;
    padding: 5px 10px;
    pointer-events: none;
    opacity: 0;
    transition: all 2s ease-in-out;
    z-index: 20
}
.menu-items ul{
    list-style: none;
    line-height: 20px;
    color: #ff6a00;
    text-transform: uppercase;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.menu-items ul li{
    position: relative;
    display: block;
    flex: 0 1 auto;
    cursor: pointer;
    transition: all .2s ease-in;
}
.menu-items ul li:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.a{
    color: #ccc;
}
/* javascript active mode  */
.menu.active{
    pointer-events: all;
}
.menu.active .menu-top {
  -webkit-animation: line-top-open 2s ease both; /* normade 3s*/
          animation: line-top-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .top-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.active .menu-bottom {
  -webkit-animation: line-bottom-open 2s ease both; /* normade 3s*/
          animation: line-bottom-open 2s ease both; /* normade 3s*/
          height: 4px;
}
.menu.active .bottom-line {
  -webkit-animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
          animation: lightsaber-open .4s ease-in 2s both; /* normade 8s,3s*/
}
.menu.inactive {
  pointer-events: all;
}
.menu.inactive .menu-top {
  -webkit-animation: line-top-close 3s ease 1s both;
          animation: line-top-close 3s ease 1s both;
}
.menu.inactive .top-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu.inactive .menu-bottom {
  -webkit-animation: line-bottom-close 3s ease 1s both;
          animation: line-bottom-close 3s ease 1s both;
}
.menu.inactive .bottom-line {
  -webkit-animation: lightsaber-close .6s ease; /* normade 5s*/
          animation: lightsaber-close .6s ease; /* normade 5s*/
}
.menu-items.active {
    opacity: 1;
    pointer-events: all;
    transition: all 1s ease-in 1s;
}


@-webkit-keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}

@keyframes line-top-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
}
@-webkit-keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-top-close {
  0% {
    -webkit-transform: translateX(-100px) translateY(-20px);
            transform: translateX(-100px) translateY(-20px);
  }
  20% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@keyframes line-bottom-open {
  0% {
    -webkit-transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
}
@-webkit-keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@keyframes line-bottom-close {
  0% {
    -webkit-transform: translateX(100px) translateY(20px);
            transform: translateX(100px) translateY(20px);
  }
  20% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateX(0px) translateY(0px);
            transform: translateX(0px) translateY(0px);
  }
}
@-webkit-keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@keyframes lightsaber-open {
  0% {
    width: 0px;
  }
  100% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}
@keyframes lightsaber-close {
  0% {
    width: 202px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 0px;
  }
}

}



