<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="Enes, Enes Fide, enes, enes fide">
    <meta name="author" content="Enes Fide">
    <meta name="description" content="Enes Fide'nin Web Sitesi">    
    <title>Enes Fide</title>
    <link rel="icon" href="/static/img/iconiki.png" type="">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home/body.css')}}" type="text/css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    <div class="back">
        
        <div class="up_side">
            <div class="btn btn_2">
                <a href="/">Back</a>
            </div>
            <div class="btn btn_1">
                <a href="/home">For Turkish</a>
            </div>
            <div class="title">
                <a class="baslık" href="/">Enes Fide</a>
            </div>
        </div> 
        
        <div class="left_side">
            <div class=image>
                <img src="{{url_for('static', filename='img/benimgg.jpg')}}" alt="Enes Fide">
            </div>
         </div>
         
         <div class="right_side">
            
            <div class="hello">
                <p>Hi, I am<br>Enes Fide!</p>
            </div>
            
            <div class="comment">
                <p>I am a student of mechatronics engineering at Izmir Katip Celebi 
                    University. I'm not the first type that comes to mind when it comes 
                    to software developer and I am someone who shows people that software
                    isn't just technical work, it's also art. I got interested in 
                    software in high school and I realized that I'm interested in this 
                    job. When I get the answer "Python" to the question "Where should I 
                    start" I started learning python. When I have free time, when I bored 
                    and actually every time when I turned on the computer, I wrote 
                    programs with python. When I develop myself in Python I learned 
                    django, flask, selenium frameworks. After learning HTML, CSS, 
                    Javascript trio at intermediate level I started designing and 
                    developing websites. Now I'm improving myself in mobile applications.</p> 
            </div>
        
        </div>
         
      </div>

</body>
</html>