<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="Enes, Enes Fide, enes, enes fide">
    <meta name="author" content="Enes Fide">
    <meta name="description" content="Enes Fide'nin Web Sitesi">    
    <title>Enes Fide</title>
    <link rel="icon" href="/static/img/iconiki.png" type="">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home/body.css')}}" type="text/css">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>

    <div class="back">
        
        <div class="up_side">
            <div class="btn btn_2">
                <a href="/">Back</a>
            </div>
            <div class="btn btn_1">
                <a href="/home/en">For English</a>
            </div>
            <div class="title">
                <a class="baslık" href="/">Enes Fide</a>
            </div>
        </div> 
        
        <div class="left_side">
            <div class=image>
                <img src="{{url_for('static', filename='img/benimgg.jpg')}}" alt="Enes Fide">
            </div>
         </div>
         
         <div class="right_side">
            
            <div class="hello">
                <p>Merhaba,<br>Ben Enes Fide!</p>
            </div>
            
            <div class="comment">
                <p>İzmir Katip Çelebi Üniversitesi Mekatronik Mühendisliği öğrencisiyim. Yazılımcı denilince aklınıza gelen ilk tipten olmamaya ve insanlara yazılımın sadece teknik 
                    bir iş olmayıp aynı zamanda sanat olduğunu göstermeye çalışan biriyim. Yazılıma ilk lisede merak saldım ve bu işe karşı ilgili 
                    olduğumu fark ettim. Nereden başlamalıyım sorusuna yanıt olarak "Python" cevabını aldıktan sonra python öğrenmeye başladım. Pythonla canım sıkıldıkça, boş vakit buldukça, aslında bilgisayarı her açtığımda 
                    programlar yazdım. Pythonda kendimi ileri seviyeye çıkarınca django, flask, selenium frameworklerini öğrendim. HTML, CSS, Javascript 
                    üçlüsünü de orta derece öğrenince web siteleri tasarlamaya ve geliştirmeye başladım. Şimdi ise kendimi mobil uygulamalar hakkında geliştiriyorum. </p> 
            </div>
        
        </div>
         
      </div>

</body>
</html>